# Системні файли
.DS_Store
Thumbs.db

# IDE та редактори
.idea/
.vscode/
*.swp

# Теки збірки та кеш
bin/
build/
dist/
__pycache__/
*.pyc
venv/

# Логи та тимчасові дані
*.log
*.tmp

# Великі або динамічно згенеровані дані
*.txt
*.csv
*.json
*.xml
*.dat
