# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

!requirements.txt