# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env
*.venv

# Data files
data/
*.csv
*.xlsx
*.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Output files
*.html
*.pdf
*.png
*.jpeg
*.jpg
*.svg

# Other temporary files
*.tmp
*.bak